html, body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    /* background: linear-gradient(#ebbba7, #cfc7f8); */
}
* {
    margin: 0;
    overflow: hidden; 
  }
.h1font{
    font-weight: 1000;
    color: white;
}
#start-screen {
    position: fixed;
    display: grid;
    /*center divs*/
    place-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;  /* 新增這一行 */
}
#start-button{
    margin: 1vmax;
    font-weight: 1000;
    color:white;
    border: 2px solid white;
}
#audio-button{
    font-weight: 1000;
    color:white;
    border: 2px solid white;
}
#setting {
    position: fixed;
    right: 0;
    bottom: 0;
}
#levels {
    position: fixed;
    width:50vmax;
    height:30vmax;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color:white;
    text-align: center;
    display: flex;  
    align-items: center; 
    justify-content: center;  
}
#dialog{
    border-radius: 5%;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    /* background-color: aquamarine; */
    position: absolute;
    width: 45%;
    height: 45%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.close{
    transform: scale(1.5);
    background-color: #C5C1FF;
    border: 0px;
    margin-left: 90%;
}
.levelbtn{
    margin-top: 5%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-left: 5%;
    border: 2px solid black;
    box-shadow: 5px 5px gray 
 }
 #levelbtn:hover {
    background-color: #f0f0f0;
}
 #gameover{
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    /* background-color: aquamarine; */
    position: absolute;
    width: 100vmax;
    height: 100vmax;
    display: none;
}
#gameovertext{
    font-weight: 1000;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
#game {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#homebtn2{
    position:relative;
}
#gameovertext2{
    font-weight: 1000;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
#tryagain{
    margin-top: 3%;
}